html, body {
    height: 100%;
	font-family: robotothin;
	font-size: 100px;
	background-color: black;
	color: white;
	text-align: center;
	overflow: hidden;
}

.nocursor {
	cursor: none;
}

a:link, a:visited, a:hover, a:active {text-decoration:none;}

#container {
    display: table;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

#row1, #row2 {
    display: table-row;
    height: 50%;
}

#time, #day , #meridian, #short, #code, #blah {
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
}

#time:hover, #day:hover {
    color: #33b5e5;
}

#meridian, #short, #code, #blah {
	color: #050505;
	font-size: 60px;
	position: absolute;
}

#meridian {
	top: 0;
	right: 0;
}

#short {
	bottom: 0;
	right: 0;
}

#code , #blah{
	bottom: 0;
	left: 0;
}

#meridian:hover, #short:hover, #code:hover {
	color: #ff4444;
}

::selection {
    background: black;
    color: #99cc00;
}

#time {
    font-size: 200px;
}