/* 	© 2013 James Ye, Simon Shields
 *
 *	This file is part of Clock.
 *
 *	Clock is free software: you can redistribute it and/or modify
 *	it under the terms of the GNU General Public License as published by
 *	the Free Software Foundation, either version 3 of the License, or
 *	(at your option) any later version.
 *
 *	Clock is distributed in the hope that it will be useful,
 *	but WITHOUT ANY WARRANTY; without even the implied warranty of
 *	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *	GNU General Public License for more details.
 *
 *	You should have received a copy of the GNU General Public License
 *	along with Clock.  If not, see <http://www.gnu.org/licenses/>.
 */
 
html, body {
    height: 100%;
	font-family: robotothin;
	font-size: 92px;
	background-color: black;
	color: white;
	text-align: center;
	overflow: hidden;
}

.nocursor {
	cursor: none;
}

a:link, a:visited, a:hover, a:active {text-decoration:none;}

#container {
    display: table;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

#row1, #row2 {
    display: table-row;
    height: 50%;
}

#time, #day , #meridian, #short, #code, #showsec {
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -ms-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
}

#time:hover, #day:hover {
    color: #33b5e5;
}

#meridian, #short, #code, #showsec {
	color: rgba(255,255,255,0.1);
	font-family: robotothin;
	font-size: 36px;
	position: absolute;
}

#meridian {
	top: 5px;
	right: 5px;
}

#short {
	bottom: 5px;
	right: 5px;
}

#code  {
	bottom: 5px;
	left: 5px;
}

#showsec {
	top: 5px;
	left: 5px;
}

#meridian:hover, #short:hover, #code:hover, #showsec:hover {
	color: #ff4444;
}

::selection {
    background: black;
    color: #99cc00;
}

#time {
    font-size: 184px;
}