@font-face {
    font-family: 'robotocondensed';
    src: url('roboto/roboto-condensed-webfont.eot');
    src: url('roboto/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-condensed-webfont.woff') format('woff'),
         url('roboto/roboto-condensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto/roboto-regular-webfont.eot');
    src: url('roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-regular-webfont.woff') format('woff'),
         url('roboto/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('roboto/roboto-thin-webfont.eot');
    src: url('roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-thin-webfont.woff') format('woff'),
         url('roboto/roboto-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('roboto/roboto-bold-webfont.eot');
    src: url('roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bold-webfont.woff') format('woff'),
         url('roboto/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_condensed';
    src: url('roboto/roboto-boldcondensed-webfont.eot');
    src: url('roboto/roboto-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-boldcondensed-webfont.woff') format('woff'),
         url('roboto/roboto-boldcondensed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_condensed_italic';
    src: url('roboto/roboto-boldcondenseditalic-webfont.eot');
    src: url('roboto/roboto-boldcondenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-boldcondenseditalic-webfont.woff') format('woff'),
         url('roboto/roboto-boldcondenseditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('roboto/roboto-bolditalic-webfont.eot');
    src: url('roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-bolditalic-webfont.woff') format('woff'),
         url('roboto/roboto-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotocondensed_italic';
    src: url('roboto/roboto-condenseditalic-webfont.eot');
    src: url('roboto/roboto-condenseditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-condenseditalic-webfont.woff') format('woff'),
         url('roboto/roboto-condenseditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('roboto/roboto-italic-webfont.eot');
    src: url('roboto/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-italic-webfont.woff') format('woff'),
         url('roboto/roboto-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('roboto/roboto-black-webfont.eot');
    src: url('roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-black-webfont.woff') format('woff'),
         url('roboto/roboto-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('roboto/roboto-blackitalic-webfont.eot');
    src: url('roboto/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-blackitalic-webfont.woff') format('woff'),
         url('roboto/roboto-blackitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('roboto/roboto-light-webfont.eot');
    src: url('roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-light-webfont.woff') format('woff'),
         url('roboto/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('roboto/roboto-lightitalic-webfont.eot');
    src: url('roboto/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-lightitalic-webfont.woff') format('woff'),
         url('roboto/roboto-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('roboto/roboto-medium-webfont.eot');
    src: url('roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-medium-webfont.woff') format('woff'),
         url('roboto/roboto-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('roboto/roboto-mediumitalic-webfont.eot');
    src: url('roboto/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-mediumitalic-webfont.woff') format('woff'),
         url('roboto/roboto-mediumitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin_italic';
    src: url('roboto/roboto-thinitalic-webfont.eot');
    src: url('roboto/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-thinitalic-webfont.woff') format('woff'),
         url('roboto/roboto-thinitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoslab_light';
    src: url('roboto/robotoslab-light-webfont.eot');
    src: url('roboto/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/robotoslab-light-webfont.woff') format('woff'),
         url('roboto/robotoslab-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoslab_bold';
    src: url('roboto/robotoslab-bold-webfont.eot');
    src: url('roboto/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/robotoslab-bold-webfont.woff') format('woff'),
         url('roboto/robotoslab-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoslab_regular';
    src: url('roboto/robotoslab-regular-webfont.eot');
    src: url('roboto/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/robotoslab-regular-webfont.woff') format('woff'),
         url('roboto/robotoslab-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoslab_thin';
    src: url('roboto/robotoslab-thin-webfont.eot');
    src: url('roboto/robotoslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/robotoslab-thin-webfont.woff') format('woff'),
         url('roboto/robotoslab-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}